In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/glass/glass.csv

In [2]:
df=pd.read_csv("/kaggle/input/glass/glass.csv")

In [3]:
df.head()
df.info()
df.shape
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516523,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [4]:
#categorizing into features and lables
X=df.iloc[:,:-1]
y=df.iloc[:,-1]
X.head()
y.head()
y.unique()
y.value_counts()
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.25)

In [5]:
from sklearn import tree
#building decision tree model
dtc=tree.DecisionTreeClassifier(random_state=0)
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=0)

In [6]:
dtc.score(X_test,y_test)

0.7222222222222222

In [7]:
from sklearn.model_selection import train_test_split
sn=[]
score=[]
for i in range(1,100):
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.25)
    dtc=tree.DecisionTreeClassifier(random_state=0)
    dtc.fit(X_train, y_train)
    sn.append(i)
    score.append(dtc.score(X_test,y_test))

    result=pd.DataFrame()
    result["SN"]=sn
    result["Score"]=score

In [8]:
result.describe()

              SN      Score
count  99.000000  99.000000
mean   50.000000   0.676394
std    28.722813   0.052867
min     1.000000   0.537037
25%    25.500000   0.648148
50%    50.000000   0.666667
75%    74.500000   0.722222
max    99.000000   0.814815

In [9]:
result

    SN     Score
0    1  0.759259
1    2  0.666667
2    3  0.703704
3    4  0.685185
4    5  0.574074
..  ..       ...
94  95  0.666667
95  96  0.685185
96  97  0.759259
97  98  0.722222
98  99  0.648148

[99 rows x 2 columns]

In [10]:
result.to_csv("r1.csv")

In [11]:
#normalizing data
from  sklearn import preprocessing
minmax_scale=preprocessing.MinMaxScaler(feature_range=(1,10))
X_minmax=minmax_scale.fit_transform(X)

In [12]:
X_minmax

array([[ 4.89552239,  4.93834586, 10.        , ...,  3.77695167,
         1.        ,  1.        ],
       [ 3.55223881,  5.27669173,  8.21603563, ...,  3.00743494,
         1.        ,  1.        ],
       [ 2.98726953,  4.78947368,  8.11581292, ...,  2.96561338,
         1.        ,  1.        ],
       ...,
       [ 4.75329236,  5.91278195,  1.        , ...,  3.51765799,
         5.68571429,  1.        ],
       [ 3.11764706,  5.93984962,  1.        , ...,  3.55111524,
         5.48571429,  1.        ],
       [ 3.3546971 ,  5.73684211,  1.        , ...,  3.66821561,
         5.77142857,  1.        ]])

In [13]:
X1=pd.DataFrame(columns=X.columns,data=X_minmax)
X1

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe
0,4.895522,4.938346,10.000000,3.271028,4.166071,1.086957,3.776952,1.000000,1.0
1,3.552239,5.276692,8.216036,4.000000,5.692857,1.695652,3.007435,1.000000,1.0
2,2.987270,4.789474,8.115813,4.504673,6.110714,1.565217,2.965613,1.000000,1.0
3,3.571993,4.356391,8.396437,3.803738,5.500000,1.826087,3.333643,1.000000,1.0
4,3.477173,4.437594,8.256125,3.663551,6.255357,1.797101,3.208178,1.000000,1.0
...,...,...,...,...,...,...,...,...,...
209,3.007024,5.615038,1.000000,8.261682,5.500000,1.115942,4.136617,4.028571,1.0
210,3.251975,6.670677,1.000000,5.766355,6.223214,1.000000,3.484201,5.542857,1.0
211,4.753292,5.912782,1.000000,5.850467,6.801786,1.000000,3.517658,5.685714,1.0
212,3.117647,5.939850,1.000000,5.626168,7.107143,1.000000,3.551115,5.485714,1.0
213,3.354697,5.736842,1.000000,6.018692,6.705357,1.000000,3.668216,5.771429,1.0

In [14]:
sn=[]
score=[]
for i in range(1,100):
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X1, y,  stratify=y,  test_size=0.25)
    dtc = tree.DecisionTreeClassifier(random_state=0)
    dtc.fit(X_train, y_train)
    sn.append(i)
    score.append(dtc.score(X_test,y_test))

result=pd.DataFrame()
result["SN"]=sn
result["Score"]=score
print(result)

    SN     Score
0    1  0.685185
1    2  0.759259
2    3  0.703704
3    4  0.648148
4    5  0.703704
..  ..       ...
94  95  0.703704
95  96  0.611111
96  97  0.666667
97  98  0.648148
98  99  0.722222

[99 rows x 2 columns]

In [15]:
result.describe()

              SN      Score
count  99.000000  99.000000
mean   50.000000   0.668163
std    28.722813   0.062024
min     1.000000   0.500000
25%    25.500000   0.629630
50%    50.000000   0.666667
75%    74.500000   0.703704
max    99.000000   0.796296

In [16]:
result.to_csv("r2.csv")

In [17]:
X

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 9 columns]

In [18]:
from sklearn import preprocessing
scaler=preprocessing.StandardScaler()
X_stdscale=scaler.fit_transform(X)
X_stdscale

array([[ 0.87286765,  0.28495326,  1.25463857, ..., -0.14576634,
        -0.35287683, -0.5864509 ],
       [-0.24933347,  0.59181718,  0.63616803, ..., -0.79373376,
        -0.35287683, -0.5864509 ],
       [-0.72131806,  0.14993314,  0.60142249, ..., -0.82894938,
        -0.35287683, -0.5864509 ],
       ...,
       [ 0.75404635,  1.16872135, -1.86551055, ..., -0.36410319,
         2.95320036, -0.5864509 ],
       [-0.61239854,  1.19327046, -1.86551055, ..., -0.33593069,
         2.81208731, -0.5864509 ],
       [-0.41436305,  1.00915211, -1.86551055, ..., -0.23732695,
         3.01367739, -0.5864509 ]])

In [19]:
X2=pd.DataFrame(columns=X.columns,data=X_stdscale)
X2

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe
0,0.872868,0.284953,1.254639,-0.692442,-1.127082,-0.671705,-0.145766,-0.352877,-0.586451
1,-0.249333,0.591817,0.636168,-0.170460,0.102319,-0.026213,-0.793734,-0.352877,-0.586451
2,-0.721318,0.149933,0.601422,0.190912,0.438787,-0.164533,-0.828949,-0.352877,-0.586451
3,-0.232831,-0.242853,0.698710,-0.310994,-0.052974,0.112107,-0.519052,-0.352877,-0.586451
4,-0.312045,-0.169205,0.650066,-0.411375,0.555256,0.081369,-0.624699,-0.352877,-0.586451
...,...,...,...,...,...,...,...,...,...
209,-0.704815,0.898681,-1.865511,2.881125,-0.052974,-0.640968,0.157088,1.783978,-0.586451
210,-0.500178,1.856097,-1.865511,1.094342,0.529374,-0.763919,-0.392276,2.852405,-0.586451
211,0.754046,1.168721,-1.865511,1.154570,0.995252,-0.763919,-0.364103,2.953200,-0.586451
212,-0.612399,1.193270,-1.865511,0.993960,1.241133,-0.763919,-0.335931,2.812087,-0.586451
213,-0.414363,1.009152,-1.865511,1.275028,0.917606,-0.763919,-0.237327,3.013677,-0.586451

In [20]:
sn=[]
score=[]
for i in range(1,100):
    from sklearn.model_selection import train_test_split
    X_train, X_test, y_train, y_test = train_test_split(X2, y,  stratify=y,  test_size=0.25)
    dtc = tree.DecisionTreeClassifier(random_state=0)
    dtc.fit(X_train, y_train)
    sn.append(i)
    score.append(dtc.score(X_test,y_test))

result=pd.DataFrame()
result["SN"]=sn
result["Score"]=score
print(result)

    SN     Score
0    1  0.648148
1    2  0.703704
2    3  0.703704
3    4  0.740741
4    5  0.703704
..  ..       ...
94  95  0.722222
95  96  0.703704
96  97  0.740741
97  98  0.685185
98  99  0.611111

[99 rows x 2 columns]

In [21]:
result.describe()

              SN      Score
count  99.000000  99.000000
mean   50.000000   0.687430
std    28.722813   0.055130
min     1.000000   0.518519
25%    25.500000   0.648148
50%    50.000000   0.685185
75%    74.500000   0.722222
max    99.000000   0.814815

In [22]:
result.to_csv("r3.csv")